body {
    background-color: #f2f2f2; /* light grey */
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .text {
    margin-right: 20px; /* Adjust as needed */
  }
  
  .mockup {
    max-width: 100%;
    max-height: 100vh;
    height: auto;
  }

  body {
    background-color: #f2f2f2; /* light grey */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
  }

  .text {
    margin-right: 20px; /* Adjust as needed */
    padding: 0 20px; /* Adjust as needed */
  }
  
  @media (max-width: 600px) {
    .container {
      flex-direction: column;
    }
  }